<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1030014658938-5k0d05jr3paegscc6vsmv7crjrnc5hvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030014658938-5k0d05jr3paegscc6vsmv7crjrnc5hvi</string>
	<key>API_KEY</key>
	<string>AIzaSyD8b3gG0zudtEP4Zg6FLaoFqVj6qdcO_LE</string>
	<key>GCM_SENDER_ID</key>
	<string>1030014658938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbit</string>
	<key>PROJECT_ID</key>
	<string>dbit-cf9a6</string>
	<key>STORAGE_BUCKET</key>
	<string>dbit-cf9a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030014658938:ios:86928d41df7fab81</string>
	<key>DATABASE_URL</key>
	<string>https://dbit-cf9a6.firebaseio.com</string>
</dict>
</plist>