<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>MOBAppKey</key>
    <string>26cc6ca5e4958</string>
    <key>MOBAppSecret</key>
    <string>30b302af1b75164e29f3759ed733d01a</string>
</dict>
</plist>
