<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<link href="../../../sdk/ui.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>

<body class="flex-col">
	<div class="flex-1 flex-col scroll_cont" id="view">

	</div>
	<footer id="footer" class="foot" style="height:6.5rem">
		<div class="tabs tabs-ion-top">
			<div active class="tab-item cur" id="home">
				<!-- <i class="ion">&#xe64a;</i> -->
				<img class="icon" src="../../../res/img/icon_home@3x.png" style="display:none">
				<icon>
					<img class="icon" src="../../../res/img/icon_home_pre.png">
					<icon>
						<p i18n="home"></p>
			</div>
			<!-- <div active class="tab-item" id="product"> -->
				<!-- <i class="ion">&#xe6bb;</i> -->
				<!-- <img class="icon" src="../../../res/img/icon_brief@3x.png">
				<icon>
					<img class="icon" src="../../../res/img/icon_brief_pre@3x.png" style="display:none">
					<icon>
						<p i18n="brief"></p>
			</div> -->
			<div active class="tab-item" id="discover" style="display:block">
				<img class="icon" src="../../../res/img/icon_marketprice@3x.png">
				<icon>
					<img class="icon" src="../../../res/img/market.png" style="display:none">
					<icon>
						<p i18n="Market"></p>
			</div>

			<div active class="tab-item" id="wiki">
				<img class="icon" src="../../../res/img/tab_icon_wiki_normal@3x.png">
				<img class="icon" src="../../../res/img/tab_icon_wiki_select@3x.png" style="display:none">
				<p i18n="wiki"></p>
			</div>

			<div active class="tab-item" id="member">
				<img class="icon" src="../../../res/img/icon_me@3x.png">
				<icon>
					<img class="icon" src="../../../res/img/me.png" style="display:none">
					<icon>
						<p i18n="me"></p>
			</div>
		</div>
	</footer>
</body>

<script type="text/javascript" src="../../../sdk/jquery-3.3.1.min.js">
</script>
<script type="text/javascript" src="../../../sdk/jquery.i18n.properties-1.0.9.js">
</script>
<script src="../../../sdk/loader.js" data-script="script"> </script>

</html>
