<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <link href="../../../sdk/normalize.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body style="" >
  <div  class="two" id="qrcodeCanvas"></div>
  <div id='app'>
    <div class="brief-logo">
      <img src="../../../res/img/brief_logo.png" alt="">
      <p i18n="The world's leading blockchain media">ONe World One Coin</p>
    </div>
    <div class="main">
      <div class="">
        <brief-text class="time" v-text="time"></brief-text>
        <brief-text style="color: #333333;min-height:94px;" v-text = "text"></brief-text>
      </div>
      <div class="drive"></div>
      <div class="bottom">
        <div class="qrode-wrapper">
          <img src="" id="qrcodeImg" alt="">
        </div>
         <div class="info">
            <div class="title" i18n='Scan and download the "Dbit" app'></div>
            <div class="text" i18n="Get the 1999 DTT now"></div>
            <div class="text" i18n="Frontier news real-time push"></div>
         </div>
      </div>
      <div class="line"><span>©</span><span>Copyright by Dbit 2018</span></div>
      <div style="height:1.15714rem">
      </div>
    </div>
  </div>
</body>
<script src="../../../sdk/jquery-3.3.1.min.js"></script>
<script src="../../../sdk/rem.js"></script>
<script src="../../../sdk/jquery.i18n.properties-1.0.9.js"></script>
<script src="../../../sdk/html2canvas.js"></script>
<script src="../../../sdk/jquery.qrcode.js"></script>
<script src="../../../sdk/utf.js"></script>
<script src="../../../sdk/loader.js"></script>
</html>
