@charset "utf-8";
//底层样式框架
//@import "basic/normalize";
@import "basic/variables";
@import "basic/mixins";
@import "basic/default";

html,body,#app{
  position: relative;
  width:100%;
  height:100%;
  //background-color: rgba(0,0,0,0.5);
  margin:0;
}
.toast_big_bg{
  position: absolute;
  top:0;
  width: 100%;
  height: 35%;
}
#main{
  width:86%;
  position: absolute;
  top:30%;
  left:0;
  right:0;
  background: #FFFFFF;
  border-radius: 8px;
  margin:auto;
  z-index: 900;

  .rule-award{
    height: 480px;
    overflow-y: scroll;
    z-index: 800;
    -webkit-overflow-scrolling: touch;
    .rule-cont {
      margin: 46*2px  16*2px 34*2px;
      opacity: 0.5;
      font-family: Helvetica;
      font-size: 26px;
      color: #333333;
      line-height: 40px;
    }
  }
  .aridop_close{
    width: 240*2px;
    height: 156*2px;
    position: absolute;
    left:0;
    right:0;
    top:-55%;
    opacity: .8;
    margin: auto;
    z-index: 900;
    img{
      width: 100%;
    }
    p{
      position: absolute;
      bottom:16%;
      left:0;
      right:0;
      margin: auto;
      color: #ffffff;
      font-size: 30px;
      text-align: center;
    }
  }
  .got_button{
    position: absolute;
    top:120%;
    left:0;
    right:0;
    margin: auto;
    width: 184*2px;
    height: 54*2px;
    background: #FDB438;
    border-radius: 30*2px;
    text-align: center;
    line-height: 54*2px;
    font-family: Helvetica;
    font-size: 17*2px;
    color: #FFFFFF;
  }
}