<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <link href="../../../sdk/normalize.css" rel="stylesheet">
    <link href="../../../sdk/css/email.css" rel="stylesheet">
</head>

<body>
<div id='app' v-cloak>

    <div class="top-nav-bar" style="border: none; background: transparent">
        <div class="top-nav">
            <img src='./../../../res/img/back@3x.png' @click="api.closeWin();">
            <span>Login</span>
            <span></span>
        </div>
    </div>

    <div class="top-nav-placeholder"></div>

</div>
</body>
<script src="../../../sdk/jquery-3.3.1.min.js"></script>
<script src="../../../sdk/jquery.i18n.properties-1.0.9.js"></script>
<script src="../../../sdk/loader.js"></script>
</html>